:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark Mode palette */

  --primary: #432D59;
  --primaryGradient: #1C1426;
  --secondary: #1C1426;

  --neutralHighlight: #778899;
  --neutralBackground: #c8cedd;
  --neutralBorder: #464646;

  --darkBackground: #3f4750;

  --boxBackground: #bd90c0;
  --tertiary: #F2F2F2;
  
  /* text palette */

  --textPrimary: #F2F2F2;
  --textHighlight: #e8b3ec;
}

.light {
  color: #1C1426;
  background-color: var(--neutralBackground);
}

.dark {
  color: var(--neutralHighlight);
  background-color: var(--darkBackground);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Body, header, footer, main */

body {
  margin: 0 auto;
  justify-content: space-evenly;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

main section {
  height: 100%;
  margin: 0;
  flex: 1;
  min-height: calc(80vh); 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-image: linear-gradient(var(--primary), var(--primaryGradient));

  margin-top: -30px;
  padding: 5%;
  border: 2px solid;
  border-color: var(--neutralBorder);

  max-height: 30vh;
}

/* footer */

footer {
  height: 20vh;
  margin: 0;
  border: 2px solid;

  background-image: linear-gradient(var(--primary), var(--secondary));
}

footer a:hover {
  color: #59005f;
  font-size: 20px
} 

footer button:hover {
  box-shadow: 0px 0px 10px 10px #666666;
}





/* Component specific structure */

/* nav */


.header ul {
  display: flex;
  width: 100px;
  flex-direction: column;
  
 
  transition: width 0.3s;
  margin-top: -30px;
  margin-right: 10px;
  padding: 70px 0px 0px 0px;


  list-style-type: none;
  font-size: large;
}

.header li {
  color: var(--textHighlight);
  padding: 10px;
  display: flex;
  flex: 1;
  align-items: stretch;
}

.header li.active {
  background-image: url(./assets/images/highlight.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: nav-flourish;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.header a {
  color: var(--textHighlight);
  text-decoration: inherit;
}

.header a:hover {
  color: var(--textHighlight);
  box-shadow: 0px 0px 20px 10px #ee38ff;
  font-size: 20px;
  background-color: #ee38ffd3;

}

.header a:hover::after {
  content: ">";
}

@keyframes nav-flourish {
  0% {
    opacity: 100%;
  }
  25% {opacity: 50%;}
  50% {opacity: 50%;}
  100% {opacity: 100%;}
}


.header h1 {
  color: var(--textHighlight);
  font-size: 120px;
  padding-left: 20px;
  position: relative;
}

.header img {
  opacity: 70%;
  display: flex;
  margin-left: auto;
}

/* Home Layout */

.homePage h1 {
  margin-left: auto;
}

.homePage img {
  height: auto;
  max-width: 20%;
  border: 2px solid var(--secondary);
}

/* Contact Form */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
}

form {
  display: flex;
  flex-direction: column;
  min-width: 60vi;

  border: 2px solid;
  border-radius: 25px;
  padding: 2%;

  background-color: var(--primary);
}

.contact input {
  background-color: var(--boxBackground);

  border: 2px solid;
  border-radius: 5px;
  box-shadow: none;

  font-size: large;
  color: #432D59;
}

.contact input::placeholder {
  color: var(--neutralBackground);
}

.contact textarea {
  background-color: var(--boxBackground);

  border: 2px solid;
  border-radius: 5px;

  font-size: large;
  color: #432D59;
}

.contact textarea::placeholder {
  color: var(--neutralBackground);
}

.contact .alert {
  color: #d8267f;
}

.contact h2 {
  color: var(--textHighlight);
}


/* Portfolio */

.card {
  border: 2px solid #1a1a1a;
  border-radius: 40px;
  margin: 40px;
  padding: 10px;

  max-height: 800px;

  background-image: radial-gradient(var(--neutralBackground), var(--darkBackground));
}

/* learning bar */

.learning-bar {
  color: var(--neutralBorder);
  background-color: var(--neutralHighlight);
  border-top: solid 5px;
  border-bottom: solid 5px;
  border-color: var(--neutralBorder);
  font-style: italic;
  animation-name: learning-bar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes learning-bar {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 100%;
  }

  60% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

/* Media Queries and Misc structure */


@media screen and (max-width: 1150px){
  .header h1 {
    scale: 50%;
  }
  .header img {
    display: none;
  }
}
